@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);
    --Dark-Gray: hsl(0, 0%, 55%);
    --Very-Dark-Gray: hsl(0, 0%, 41%);
}

.container{
    min-width: 80vw;
    max-width: 80vw;
    margin: 0 auto;
}


header {
    min-width: 100%;
    height: 80vh;
    background-image: url("images/desktop/image-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;  
}

header h1{
    color: var(--White);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    max-width: 80vw;
    font-size: clamp(2rem, 4vw, 4rem);
}

.frame{
    padding: 3%;
    max-width: 55%;
    border: 3px solid var(--White);
    position: relative;
}


.header-content{
    display: flex;
    flex-direction: column;
    gap: 70px;
    position: relative;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
}

nav>ul{
    display: flex;
    gap: 30px;
}

nav li{
    list-style-type: none;
    font-family: 'Alata', sans-serif; 
    color: var(--White);  
    cursor: pointer;
}


/* hamburger */

.hamburger {
    width: 36px;
    height: 36px;
    border: 2px solid var(--White);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hamburger>span::before,.hamburger>span,.hamburger>span::after {
    
    width: 80%;
    height: 3px;
    background-color: var(--White);
    border-radius: 2px;
    
}


.hamburger>span::before{
    left: 50%;
    top: 22%;
    content: "";
    position: absolute;
    transform: translateX(-50%);

}

.hamburger>span::after{
    left: 50%;
    bottom: 22%;
    content: "";
    position: absolute;
    transform: translateX(-50%);
}

@media screen and (max-width:750px){

    nav ul{
        display: none;
    }
    
}